.contact {
    width: 60%;
    margin: auto;
    height: auto;
    box-shadow: inset;
}

.contact__header {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

.contact__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
}

.contact__main--text {
    letter-spacing: 0.05em
}

.contact__main--input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    align-items: center;
}

.contact__main--inputItem {
    width: 90%;
    margin: 5px auto;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}