.contact {
    width: 80%;
    margin: auto;
    height: auto;
    box-shadow: inset;
}

.contact__header {
    margin: 0 auto;
    margin-bottom: 55px;
    text-align: center;
    font-size: 40px;
}

.contact__main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5em;
}

.contact__main--text {
    letter-spacing: 0.05em
}

.contact__main--textHeader {
    font-size: 30px;
}


.contact__main--textItem {
    margin: 10px 0;
    text-align: center;
}

.contact__main--socialMedia {
    margin-top: 30px;
}

.contact__main--form {
    width: 90%;
}

.contact__main--formHeader {
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.contact__main--formItem {
    width: 100%;
    margin: 5px auto;
    padding: 5px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

.contact__main--formButton {
    background-color: rgb(24, 89, 105);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.contact__main--formButton:hover {
    background-color: rgb(38, 111, 129);
}

.contact__main--formTextarea {
    resize: none;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  
  .fa:hover {
    opacity: 0.7;
  }

  .fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

.fa-instagram {
    background: #8d0c0c;
    color: white;
  }