.section {
    max-width: 80%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    height: auto;
}

.section__header {
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
    font-size: 40px;
}

.section__aboutUs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 7%;
}

.section__aboutUs--item {
    letter-spacing: 0.05em;
    line-height: 1.5em;
    text-align: justify;
}

.section__aboutUs--image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    height: 90%;
    opacity: 0.9;
    border-radius: 10px;
}

.section__ourJob {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 7%;
}

.section__ourJob--image {
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-height: 30vh;
}

.section__Offer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto);
    gap: 7%;
}

.section__offer--container {
    max-height: 60vh;
    position: relative;
}

.section__offerSeeMoreButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section__offer--item {
    max-height: 60vh;
}

.section__offer--itemText {
    letter-spacing: 0.05em;
    line-height: 1.5em;
    text-align: justify;
}

.section__offer--image {
    width: 100%;
    height: 80%;
    object-fit: cover;
    object-position: center;
    opacity: 0.9;
    border-radius: 10px;
    position: relative;
}

.section__offer--imageSeeMoreButton {
    position: absolute;
}

.section__offer--itemHeader {
    margin-bottom: 30px;
    text-align: center;
}